<nav class="uk-navbar-container uk-margin" uk-navbar>
  <div class="uk-navbar-center">

    <div class="uk-navbar-center-left">
      <div>
        <ul class="uk-navbar-nav">
          <li class="uk-active" *ngIf="!isLoggedIn">
            <a href="#" routerLink="/login">تسجيل دخول</a>
          </li>
          <li *ngIf="isLoggedIn">
            <a href="#" routerLink="/allEmployee">الموظفين</a>
          </li>
        </ul>
      </div>
    </div>
    <a class="uk-navbar-item uk-logo" routerLink="/home">الرئيسية</a>
    <div class="uk-navbar-center-right">
      <div>
        <ul class="uk-navbar-nav">
          <li *ngIf="isLoggedIn">
            <a href="#" (click)="logout()">تسجيل خروج</a>
          </li>
          <li *ngIf="enableRegister">
            <a href="#" routerLink="/register">الاشتراك في الموقع</a>
          </li>
          <li *ngIf="isLoggedIn">
            <a href="#">{{emailUserLoggedIn}}</a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</nav>
