<div class="container">
  <div *ngIf="addFlag"> Add employee Sucess</div>
  <form action="" novalidate #fo="ngForm" (ngSubmit)="addEmployee(fo)">
    <div class="col">
      <label for="firstName">First Name:</label>
      <input type="text" name="firstName" #employeeFirstName="ngModel" [(ngModel)]="employee.firstName" required>
      <div class="error" *ngIf="employeeFirstName.errors?.required && employeeFirstName.touched">First Name is Required</div>
    </div>
    <div class="col">
      <label for="lastName">Last Name:</label>
      <input type="text" name="lastName" #employeelastName="ngModel" [(ngModel)]="employee.lastName" required>
      <div class="error" *ngIf="employeelastName.errors?.required && employeelastName.touched">Last Name is Required</div>
    </div>
    <div class="col">
      <label for="email">Email:</label>
      <input type="email" name="email" #employeeemail="ngModel" [(ngModel)]="employee.email" required>
      <div class="error" *ngIf="employeeemail.errors?.required && employeeemail.touched">email is Required</div>
    </div>
    <div class="col">
      <label for="country">country:</label>
      <input type="text" name="country" #employeecountry="ngModel" [(ngModel)]="employee.country" required>
      <div class="error" *ngIf="employeecountry.errors?.required && employeecountry.touched">country is Required</div>
    </div>
    <div class="col">
      <label for="city">city:</label>
      <input type="text" name="city" #employeecity="ngModel" [(ngModel)]="employee.city" required>
      <div class="error" *ngIf="employeecity.errors?.required && employeecity.touched">city is Required</div>
    </div>
    <div class="col">
      <label for="phone">phone:</label>
      <input type="text" name="phone" #employeephone="ngModel" [(ngModel)]="employee.phone" required minlength="12">
      <div class="error" *ngIf="employeephone.errors?.required && employeephone.touched">phone is Required</div>
      <div class="error" *ngIf="employeephone.errors?.minlength && employeephone.touched">phone is Required 12 chars</div>
    </div>
    <div class="col">
      <label for="salary">salary:</label>
      <input type="text" name="salary" [(ngModel)]="employee.salary" [disabled]="disabledSalary" #employeeSalary="ngModel">
    </div>
    <div class="submit">
      <button type="submit">submit</button>
    </div>
  </form>
</div>
